.navigation{
    display: flex;

    .nav-box{
        background-color: #eee;
        color: #4285f4;
        padding: 20px;
        width: 100%;

        a{
            color: #4285f4;
            text-decoration: none;
        }

        &.active{
            a{
                color: #fff;
            }
            
            color: #fff;
            background-color: #4285f4;
        }
    }
}

.view-resume{
    background-color: #eee;
    color: #4285f4;
    padding: 20px;
    width: 100%;

    margin-bottom: 20px;
}

.side-by-side{
    display: flex;

    form{
        width: 100%;
    }
}

.resumiz-view{
    max-width: 800px;
    width: 100%;

    margin: 30px;
}

.resume{
    display: flex;
    margin-left: 30px;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    min-width: 750px;

    .left{
        background-color: aquamarine;
        width: 30%;

        padding: 20px;

        img{
            width: 130px;
            height: 130px;
            border-radius: 50%;

            margin-bottom: 30px;
            object-fit: cover;
        }

        h3{
            margin-bottom: 10px;
            border-bottom: 1px solid black;
        }

        h4{
            font-size: 16px;
            margin-bottom: 0;
        }

        h5{
            font-weight: 800px;
            font-size: 16px;
            margin-bottom: 0;
        }

        .mb{
            margin-bottom: 20px;
        }
    }
    .right{
        background-color: beige;
        width: 70%;

        padding: 20px;

        .name{
            margin-bottom: 0;
        }

        h2{
            font-size: 20px;
        }

        h3{
            margin-bottom: 10px;
            border-bottom: 1px solid black;
        }

        .exp-title{
            margin-bottom: 30px;
        }

        .experience{
            padding-bottom: 30px;
            border-left: 1px solid black;
            padding-left: 20px;

            .date{
                font-weight: bold;
                margin-top: 0;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: #4285f4;
                    border-radius: 50%;
                    left: -25px;
                    top: 50%;
                    transform: translateY(-50%);

                }
            }

            .name{
                font-weight: 800;
                font-size: 20px;
            }
        }
    }
}