.alert{
    padding: 1rem;
    margin: 1rem 0;
}
.alert-closeable{
    position: relative;

    .btn-close{
        color: inherit;
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        z-index: 2;
        padding: 1.25rem 1rem;

        box-sizing: content-box;
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
        border: 0;
        opacity: .5;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }
    }
}
.alert-primary{
    background-color: var(--color-primary-shade);
    color: var(--text-primary);
}

.alert-danger{
    background-color: var(--color-danger);
    color: var(--text-primary);
}
.alert-success{
    background-color: var(--color-success);
    color: var(--text-primary);
}