[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: relative;
  left: 14px;
  z-index: 99;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 40px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--text-secondary);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  left: -20px;
}

.checkbox-tools:checked + label {
  background-color: var(--color-bg);
  border: 1px solid #333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tools:not(:checked) + label {
  background-color: var(--color-bg);
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tools:not(:checked) + label:hover,
.checkbox-tools:checked + label:hover,
[type="radio"]:hover + label {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}